p {
  font-family: Verdana, "Dejavu Sans", sans-serif;
  background-color: lightpink;
}

.blue {
  color: rgb(69, 69, 230);
  font-size: 36px;
}

.bigger {
  font-size: 24px;
}

#bold {
  background-color: lightgreen;
  font-weight: bold;
}
